@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Be+Vietnam+Pro:wght@300;400;500;600&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.editorial-shadow {
    box-shadow: 0 8px 24px -4px rgba(28, 27, 27, 0.06);
}
.glass-nav {
    background: rgba(252, 249, 248, 0.8);
    backdrop-filter: blur(16px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
